# Backend
DATABASE_URL=postgresql+asyncpg://victory:victory@postgres:5432/victory
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
JWT_SECRET=jkijk8uk8uu8kmuj7ymnygntgbntgfbftgbgnyhbsntfhyjastbfgnyjtsagrnfgvjkbsaftgvbnjksabfjksanjkvnasjkvhjaskvbkasbvkjasbvjas
AI_API_URL=https://api.openai.com/v1
AI_API_KEY=change-me
AI_MODEL=change-me

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000
